$Nutmeg: hsl(14, 45%, 36%);
$Dark-Raspberry: hsl(332, 51%, 32%);
$White: hsl(0, 0%, 100%);
$Rose-White: hsl(330, 100%, 98%);
$Eggshell: hsl(30, 54%, 90%);
$Light-Grey: hsl(30, 18%, 87%);
$Wenge-Brown: hsl(30, 10%, 34%);
$Dark-Charcoal: hsl(24, 5%, 18%);

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
svg,
picture {
  display: block;
  max-width: 100%;
}
html {
  background-color: $Eggshell;
}
body {
  font-family: "Outfit", sans-serif;
}

ul li,
ol li {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: $Nutmeg;
  display: inline-block;
  width: 1em;
  margin-right: 20px;
}

ol li::before {
  content: counter(list-item) ". "; /* Use counters for ordered lists */
  color: $Nutmeg;
  font-weight: 700;
  margin-right: 20px;
}

@mixin bold-brown-style {
  font-family: "Young Serif", serif;
  color: $Nutmeg;
  font-weight: 400;
}
main {
  background-color: $White;
  article {
    .recipe-info {
      margin: 2em 1em;

      .recipe-name {
        font-family: "Young Serif", serif;
        font-size: 2rem;
        color: $Dark-Charcoal;
        line-height: 1.3;
      }
      .about {
        color: $Wenge-Brown;
        margin-block: 2em;
        line-height: 1.4;
      }

      .prep {
        background-color: $Rose-White;
        padding: 2em;
        border-radius: 8px;

        p {
          color: $Dark-Raspberry;
          font-weight: 600;
          font-size: 1.3rem;
          margin-block-end: 15px;
        }
        ul {
          li + li {
            margin-block-start: 10px;
          }
          li {
            strong {
              color: $Dark-Charcoal;
            }
          }
          li::before {
            color: $Dark-Raspberry;
          }
        }
      }

      .ingredients,
      .instructions,
      .nutrition {
        .bold-brown {
          margin-block-end: 20px;
          @include bold-brown-style();
        }
        ul,
        ol {
          li + li {
            margin-top: 15px;
          }
          li {
            color: $Wenge-Brown;

            strong {
              color: $Dark-Charcoal;
            }
          }
        }
      }
      .ingredients,
      .instructions {
        padding-block: 30px;
        border-bottom: 1px solid $Light-Grey;
      }
      .nutrition {
        padding-block-start: 30px;
        p {
          color: $Wenge-Brown;
        }

        .nutritional-values {
          margin-block-start: 20px;
          display: flex;
          flex-direction: column;

          p {
            padding-inline: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              color: $Nutmeg;
              font-weight: 700;
            }
          }
          p + p {
            padding-block: 20px;
          }
          p:nth-child(n + 1):nth-child(-n + 3) {
            border-bottom: 1px solid $Light-Grey;
          }

          p:nth-child(1) {
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: $Dark-Raspberry;
}
@media (min-width: 600px) {
  main {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    padding-block-start: 1.5em;
    article {
      .recipe-image {
        margin-inline: 2em;
        img {
          border-radius: 8px;
        }
      }
      .recipe-info {
        margin-inline: 2em;
      }
    }
  }
}
